/* 340px and less */
@media only screen and (max-width: 430px) {
  .header-area .main-menu .navbar,
  .header-area .main-menu .navbar .navbar-brand,
  .services-area,
  .subscribe-area .subscribe,
  .site-main .subscribe-area .subscribe .subscribe-title p,
  h4,
  .subscribe-area .subscribe .subscribe-title {
    padding: 2%;
    margin: 0%;
  }
  .header-area .navbar .navbar-brand {
    padding: 0rem;
    margin: 0rem;
  }
  .about-area .paragraph {
    width: 100% !important;
  }
  .site-banner .banner-image > img {
    padding: 3rem 0;
  }
  .about-area .row {
    flex-direction: column-reverse;
  }
  .project-area .button-group button button {
    font-size: 14px;
  }
  .project-area .button-group button + button {
    padding-left: 1.1rem;
    /* font-size: 14px; */
  }
  .about-area .about-title {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
  }
  .site-main .site-banner .site-title h1 {
    font-size: 42px;
  }
  .site-main .subscribe-area .subscribe form .input-textbox input {
    width: 18rem;
  }
  .site-main .services-area .services {
    width: 13rem;
  }
  .services-area .services {
    margin: 1rem 0;
    padding: 0;
  }
  .services-area .row {
    justify-content: center;
  }
  .about-area .title-h1 {
    font-size: 2rem;
  }
  .subscribe-area .subscribe-title h4 {
    font-size: 1.5rem;
    padding: 1.5rem 1rem;
  }
  .site-main .subscribe-area .subscribe {
    padding: 10rem 1rem;
    margin-right: auto;
    margin-left: auto;
  }
}

/* 792px or less */
@media only screen and (max-width: 792px) {
  .site-main .about-area .about-title h2 > span {
    font-size: 31px;
    letter-spacing: 10px;
  }

  .site-main .brand-area .experience-area .months-area {
    padding-left: 1%;
    width: 49%;
  }

  .site-main .brand-area .experience-area .bg-panel {
    margin-left: 30%;
    width: 80%;
  }

  .site-main .brand-area .experience-area .call-area {
    padding-left: 3%;
  }

  .project-area .button-group button {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 40px;
    font-family: var(--poppins);
  }

  .site-main .about-area .about-title p {
    padding: 0%;
  }

  .site-main .subscribe-area .subscribe form .input-textbox input {
    width: 18rem;
    margin: 5%;
  }
}

/* if the viewport is equal to 1910px or less than that */
@media only screen and (max-width: 1910px) {
  .header-area .main-menu .navbar {
    padding: 1rem;
  }

  .container {
    max-width: 90%;
  }

  .site-main .brand-area,
  .site-main .services-area .services-title,
  .site-main .about-area {
    padding: 3% 4%;
  }
}
