/* import fonts */
@import url(./fonts.css);

/* css variables */
@import url(./Partials/_variables.css);

/* import global styling */
@import url(./Partials/_global.css);

/* nav */
.header-area .navbar-brand {
  padding: 0 2rem 0 5rem;
  margin-right: 20rem;
}
.header-area .main-menu .navbar {
  padding: 1rem 0;
}
.header-area .main-menu .nav-item .nav-link {
  font-style: normal;
  font-size: 15px;
  font-weight: 500;
  line-height: 2px;
  font-family: var(--poppins);
  text-transform: uppercase;
  padding: 1.7rem;
  color: var(--title-color);
}
.header-area .main-menu .navbar-nav a:hover {
  background: var(--gradient-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

/* nav */

/* start banner area */
.site-banner .site-title h3 {
  padding-top: 35%;
  font-weight: 600;
  font-size: 3rem;
}
.site-banner .site-title h3::after {
  content: '';
  height: 2px;
  width: 18vw;
  background: black;
  display: inline-block;
  margin-left: 5%;
  transform: translateY(-10px);
}
.site-banner .site-title h1 {
  font-size: 5rem;
  font-weight: 500;
}
.site-banner .site-title h4 {
  font-size: 2rem;
}
.site-banner .banner-image > img {
  padding: 7rem 0;
  width: 90rem;
}

/* end banner area */

/* about area */
.about-area {
  padding: 2rem 5rem;
}

.about-area .about-title h2 > span {
  display: block;
  font-family: var(--poppins);
  font-size: 45px;
  line-height: 60px;
  font-weight: bold;
  letter-spacing: 21px;
}
.site-main .about-area .about-title .paragraph > p {
  padding: 0.4rem 0;
}
/* about area */

/* Brand Area */

.site-main .brand-area {
  padding: 1rem 20rem;
  margin-bottom: 4rem;
}
.site-main .brand-area .first-row .col-lg-4 {
  display: flex;
  justify-content: center;
}
.site-main .brand-area .first-row .col-lg-4 > .single-brand {
  border: 1px solid var(--border-color);
  text-align: center;
  padding: 1.8rem 0rem;
  margin: 0.9rem 0;
  width: 180px;
  height: 100px;
  cursor: pointer;
  transition: transform 0.4s ease;
}
.site-main .brand-area .first-row .col-lg-4 > .single-brand > img {
  width: 50%;
}
.site-main .brand-area .first-row .col-lg-4 > .single-brand:hover {
  box-shadow: var(--box-shadow);
  transform: scale(1.3);
}
.site-main .brand-area .first-row .col-lg-4 > .single-brand:hover img {
  filter: brightness(0.15);
}
.site-main .brand-area .experience-area {
  padding-left: 1rem;
}
.site-main .brand-area .experience-area span {
  display: block;
}
.site-main .brand-area .experience-area .months-area {
  background: url(/img/client-info-bg.png) no-repeat 45px 20px;
  padding: 2rem 0;
  width: 40rem;
  height: 18rem;
  padding-left: 8rem;
  position: relative;
}
.site-main .brand-area .experience-area .bg-panel {
  position: absolute;
  left: -190px;
  top: 0%;
  background: #e029290a;
  width: 400px;
  height: 400px;
  margin-left: 340px;
  z-index: -1;
}
.site-main .brand-area .experience-area .months-area .months {
  font: normal;
  font-weight: 500;
  font-family: var(--poppins);
  font-size: 84px;
  line-height: 40px;
  color: var(--primary-color2);
  z-index: 2;
}
.site-main .brand-area .experience-area .months-area h2 > span {
  font-size: 22px;
  font: normal;
  font-weight: 600;
  font-family: var(--poppins);
  line-height: 30px;
}
.site-main .brand-area .experience-area .call-area {
  padding-left: 10rem;
}
/* Brand Area */

/* Services area */
.services-area {
  padding: 7rem 2rem;
}
.site-main .services-area .services-title {
  padding: 0 14rem;
}
.site-main .services-area .services-title h1 {
  font-size: 2.2rem;
}
.services-area .services {
  background: rgba(202, 243, 253, 0.973);
  padding: 2rem 0;
  width: 16rem;
  margin: 5rem 0.5rem;
  transition-property: box-shadow;
  transition-duration: 1s;
  transition-timing-function: ease;
}
.services-area .services:hover {
  box-shadow: var(--box-shadow);
}

/* Services Area */

/* project area */

.project-area {
  padding: 4rem 0;
}
.project-area .button-group button {
  background: transparent;
  border: none;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 130px;
  font-family: var(--poppins);
  text-transform: uppercase;
}
.project-area .button-group button + button {
  padding-left: 3rem;
}
.site-main .project-area .grid .my-project > .title h4 {
  font-style: normal;
  font-size: 25px;
  font-weight: 700;
  line-height: 12px;
  font-family: var(--poppins);
}
.site-main .project-area .grid .my-project .img:hover {
  filter: brightness(1.1) drop-shadow(2px 10px 30px #b1afaf);
}

/* project area */

/* About Area */
.project-area + .about-area {
  display: none;
}
.site-main .about-area .about-title p {
  padding: 1rem 7rem;
}
.site-main .about-area .client {
  background: #ffffff10;
  box-shadow: var(--box-shadow);
  margin: 3rem 0rem;
}
.site-main .about-area .client .client-img {
  padding: 2rem;
}
.site-main .about-area .client .about-client {
  padding-top: 2rem;
}
.site-main .about-area .client h4 {
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 20px;
  font-family: var(--poppins);
}
.site-main .about-area .client p {
  font-size: 14px;
}
.site-main .about-area .owl-carousel .owl-item {
  display: flex;
  justify-content: center;
  padding: 0 1.5rem;
}

.site-main .about-area .owl-carousel .owl-dots .owl-dot.active span {
  background: var(--primary-color);
  width: 12px;
  height: 12px;
}
/* About Area */

/* Suscribe Area */

.subscribe-area .subscribe {
  background: url(/img/subscribe-bg.png) no-repeat;
  padding: 10rem 0;
  margin: 3rem auto;
}
.subscribe-area .subscribe-title h4 {
  font-style: normal;
  font-size: 40px;
  font-weight: 600;
  font-family: var(--poppins);
  line-height: 30px;
  color: whitesmoke;
}
.subscribe-area .subscribe-title p {
  color: whitesmoke;
  padding: 1rem 4rem;
}
.site-main .subscribe-area .subscribe form .input-textbox input {
  width: 400px;
  padding: 1.5rem 0.5rem;
  border: 1px solid whitesmoke;
  background: transparent;
  color: white;
  font-size: 17px;
  line-height: 20px;
  font-style: normal;
  font-weight: 500;
  font-family: var(--poppins);
}
.subscribe-area form .input-textbox input::placeholder {
  color: whitesmoke;
}

.subscribe-area form button {
  background: whitesmoke;
  color: #000;
  padding: 0.7rem 2rem;
}

/* Suscribe Area */

/* Footer Area */

.footer-area {
  padding: 5rem o;
  background: url(/img/footer-bg.png);
}
.footer-area .social {
  font-style: normal;
  font-size: 23px;
  line-height: 30px;
  font-weight: 500;
  font-family: var(--poppins);
}
.footer-area .social a > i {
  font-size: 22px;
  padding: 2rem;
  color: var(--border-color);
}
.footer-area .copyrights a {
  color: var(--primary-color);
  text-decoration: none;
}
.footer-area .social a:hover > i {
  color: var(--primary-color);
}
/* Footer Area */
